<!DOCTYPE html> <!-- We will convert to a react app later, but this will be the beginning template for the NPC face cards -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="[NPC Name - Additional Information]"> <!-- NPC NAME NEEDED -->
    <title>[NPC NAME]</title> <!-- NPC NAME NEEDED -->
    <link rel="stylesheet" href="npcStyle.css">
    <script src="script.js" defer></script> <!-- Not certain if this is necessary yet -->
</head>

<body>
    <header>
        
    </header>

    <main>
        <section id="stats">
        </section>
        <section id="description">
        </section>
        <section id="etc">
        </section>
    </main>

    <footer>
    </footer>
</body>

</html>